/#map-canvas
#top
  #overall
    .row#optionsbox
      .small-4.columns
        %select#options{type: "text"}
          %option Select Section
          %option#gaOption{value: "ga"} General Admission
          %option#vipOption{value: "vip"} VIP
      .small-4.columns
        %input#numSeats{type: "text", placeholder: "Number of Seats"}
      .small-4.columns
        %input#create.button.radius.small.alert.expand{type: "button", value: "Create"}
#bottom
  #overall2
    #stage
      %h1 STAGE
    #vip
    #ga
  #namecontainer
    .row
      .small-2.columns
        %input#name{type: "text", placeholder: "Enter Name"}
      .small-10.columns
  #reportingLeftContainer
    #reportingLeft
      %h5 Total Sold
      #reportingLeftBox
        %h6
          VIP People:
          %span#totalVipPeople 0
        %h6
          GA People:
          %span#totalGaPeople 0
        %h6
          Total People:
          %span#totalPeople 0
        %h6
          Total VIP: $
          %span#totalVipDollars 0.00
        %h6
          Total GA: $
          %span#totalGaDollars 0.00
        %h6
          Grand Total: $
          %span#grandTotal 0.00
  #reportingRightContainer
    #reportingRight
      %h5 Reserved Seats
      #reportingRightBox
        %table
          %tr
            %th Section
            %th Seat
            %th Name